{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

            
<!--===============================LEFT=========================--->
<div class="left">
    
</div>
<!---------------------END OF LEFT----------------------->
    <!--===============================MIDDLE=========================--->
<div class="middle">
    
    <div class="alert alert-info">
        An email has been sent with instructions to reset your password
    </div>
    
</div>
    <!--===============================RIGHT=========================--->
<div class="right">
    
    

        
</div>

{% endblock content %}

